<section style="margin-top: 120px;">
    {{!-- <h4>Call <span><a class="e-btn e-link" href="tel:07032292277">07032292277</a></span> to get current prices</h4> --}} 
<div class="row">
  <div class="left">
    <h2>CATEGORY</h2>
    <ul id="myCategories">
      {{#if category}}
      {{#each category}}
      <li><a href="#">{{categoryname}}</a></li>
      {{/each}}
      {{/if}}
    </ul>
    <div style="padding-left: 10px; margin-top: 3px;" class="add-category">
          <p><a href="" class="btn-create" id="add_Category">Add category</a></p>
          
          <section id="category_form_area">
              <form action="/createcategory" method="post" class="form-horizontal" role="form" id="categoryForm">
                <div class="form-group">
                    <input name="categoryname" type="text" class="form-control" id="categoryname" placeholder="Enter Category" required>
                </div>
                <div class="form-group">
                    <button class = "add-button" type="submit">Add</button>
                </div>
              </form>
          </section>
      </div>
  </div>
  
  <div class="right" style="background-color:#fff;">
    <h2>Page Content</h2>
    <p>Start to type for a specific category inside the search bar to "filter" the search options.</p>
    <p>Some text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
    <p>Some other text..Some text..Some text..Some text..Some text..Some text..Some text..Some text..</p>
    <p>Some text..</p>
  </div>
</div>

</section>