/* Global Section */
.index_area{
    margin-left: 150px;
    margin-right: 150px;
}

textarea {
    resize: vertical;
}

.section-line{
    border: 0;
    clear:both;
    display:block;              
    background-color:#dacfcf;
    height: 1px;
}
/* Global Section end */

/* Header Section */
.navbar-default {
    background-color: #fff!important;
}

.navbar-header-text {
    font-weight: bolder;
    margin-left: 30px;
}

.navbar-header-text:hover {
    text-decoration: none;
    color: rgb(170, 168, 168);
}

.navbar-right input{
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 16px;
}

.navbar-right button{
    padding: 6px 10px;
    margin-top: 8px;
    background: rgb(241, 240, 240);
    font-size: 16px;
    border: none;
    cursor: pointer;
}
/* Header Section end */
/* Breadcrumb section */

ul.breadcrumb {
    list-style: none;
    margin-left: -20px;
    margin-bottom: -20px;
    background-color: transparent;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 16px;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: '>' ;
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

/* Breadcrumb section end */


/* Categories and product section */
.row {
    display: flex;
}

/* Category Section */
* {
    box-sizing: border-box;
  }
  
.left {
    flex: 18%;
    padding: 0 0 15px;
    background-color: #ddd;
    border: 1px solid #4b7dda;
}
  
.left h2 {
    background-color: #4b7dda;
    font-weight: bold;
    font-size: 15px;
    padding: 5px 8px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 0;
}

.left .add-category p a{
    color: #000000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.left .add-category p a:hover{
    text-decoration: underline;
    background-color: #ddd;
}

#myCategories {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myCategories li{
    padding: 12px;
    text-decoration: none;
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4b7dda;
    font-weight: bold;
}
  
#myCategories li:hover {
    background-color: #eee;
    text-decoration: underline;
}

#myCategories li .deleteIcon{
    float: right;
    width: 7%;
    display: none;
}

#category_form_area{
    padding: 10px;
    width: 95%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#category_form_area #categoryname{
    background-color: #4b7dda;
    color: #eee;
}

#category_form_area .add-button{
    border: 1px solid #4b7dda;
}

#category_form_area p #add_stock{
    margin-left: -9px;
}

#category_form_area #stock_form_area{
    padding: 5px;
    width: 100%;
}

#file, #name, #description{
    background-color: #4b7dda;
    color: #eee;
}

#stock_form_area .add-stock-button{
    border: 1px solid #4b7dda;
    margin-left: 16px;
}
/* Category Section end */


/* Product Section */
.right {
    flex: 70%;
    padding: 0 10px 15px;
    margin-top: -20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.right .contact{
    margin-left: 450px;
    margin-top: -20px;
}

.section-line2{
    border: 0;
    clear:both;
    display:block;              
    background-color:#dacfcf;
    height: 1px;
    margin-top: -3px;
}

.right #stock{
    list-style-type: none;
    margin-left: -30px;
}

.right #stock li{
    display: flex;
}

.right #stock li .about-product{
    margin-left: 30px;
    margin-top: -18px;
}

.right #stock li .about-product .description, .right #stock li .about-product .availability{
    margin-top: 40px;
}

.availability .inStock{
    font-size: large;
    font-weight: bold;
    color: #64a81a;
}

.price .deleteIcon2{
  float: right;
  margin-top: 30px;
  font-size: 17px;
  background-color: #f55252;
}

#stock .price{
    margin-left: 90px;
}

#stock .price .min, #stock .price .max{
    font-size: x-large;
    color: #fa3535;
}


/*Quote modal*/
.modal {
    margin-top: 50px;
  }

  .modal-header{
    padding-top: 3px;
  }

  .input {
    height: 30px;
    margin-bottom: 2px;
    margin-top: 4px;
    border: none; 
    border-bottom: #888690 solid 1px;
    background: none
  }

  .submit-button{
    color: #fff;
    background-color: rgb(70, 115, 199);
    border: none;
    padding: 5px 10px;
    border-radius: 1px;
    font-size: 16px;
  }
  /*Quote modal style end*/

  /* Delete Stock modal */
  .modal-confirm {		
    color: #636363;
    width: 400px;
}
.modal-confirm .modal-content {
    padding: 20px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: 14px;
}
.modal-confirm .modal-header {
    border-bottom: none;   
    position: relative;
}
.modal-confirm h4 {
    text-align: center;
    font-size: 26px;
    margin: 30px 0 -10px;
}
.modal-confirm .close {
    position: absolute;
    top: -5px;
    right: -2px;
}
.modal-confirm .modal-body {
    color: #999;
}
.modal-confirm .modal-footer {
    border: none;
    text-align: center;		
    border-radius: 5px;
    font-size: 13px;
    padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
    color: #999;
}		
.modal-confirm .icon-box {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 9;
    text-align: center;
    border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
    color: #f15e5e;
    font-size: 46px;
    display: inline-block;
    margin-top: 13px;
}
.modal-confirm .btn {
    color: #fff;
    border-radius: 4px;
    background: #60c7c1;
    text-decoration: none;
    transition: all 0.4s;
    line-height: normal;
    min-width: 120px;
    border: none;
    min-height: 40px;
    border-radius: 3px;
    margin: 0 5px;
    outline: none !important;
}
.modal-confirm .btn-info {
    background: #c1c1c1;
}
.modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
    background: #a8a8a8;
}
.modal-confirm .btn-danger {
    background: #f15e5e;
}
.modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
    background: #ee3535;
}
.trigger-btn {
    display: inline-block;
    margin: 100px auto;
}

/* delete Stock modal end */

/* Product Section end*/

  /* Categories and product section end */